.header {
  position: sticky;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  z-index: 400;
}
.scrolledHeader {
  position: sticky;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  z-index: 400;
  .promobar {
    height: 0;
    min-height: unset;
    padding: 0;
    overflow: hidden;
  }
}
header .container {
  max-width: 1212px;
  margin: 0 auto;
  padding: 0 20px;
}
header .messaging {
  color: inherit;
}
header .promobar {
  background: var(--primary-color);
  color: var(--text-overlay-color);
  min-height: 30px;
  display: flex;
  align-items: center;
  font-weight: bold;
  text-align: center;
  line-height: 1.15;
  font-size: 16px;
  padding: 5px 0;
  transition: 0.25s all;
  height: auto;
}
header .promobar a {
  color: #fff;
}
header .link a {
  min-width: 72px;
  min-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--secondary-color);
  padding: 15px 20px;
  color: #fff;
  text-align: center;
  line-height: 1.1;
  text-decoration: none;
  color: #fff;
}

header .cta {
  display: flex;
  align-items: center;
  gap: 30px;

}
header .ctc a {
  color: var(--font-color);
  text-decoration: none;
}
header .logo {
  width: 200px;
}
header .logo img {
  width: 100%;
  display: block;
  height: auto;
}
header .flexer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  flex-wrap: wrap;
  gap: 10px;
}
@media screen and (max-width: 550px) {
  header .cta {
    gap: 15px;
  }
  header .link {
    padding: 0;
    font-size: 14px;
    color: #fff;
  }
  header .ctc {
    font-size: 14px;
  }
  header .logo {
    max-width: 125px;
  }
  header .ctc + header .link {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  header .cta div:first-of-type {
    /*display: none;*/
  }
}