header .container {
    max-width: 1212px;
    margin: 0 auto;
    padding: 0 20px;
}

header .promobar {
    background: var(--primary-color);
    color: #fff;
    min-height: 30px;
    display: flex;
    align-items: center;
    font-weight: bold;
    text-align: center;
    line-height: 1.15;
    font-size: 16px;
    padding: 5px 0;
}
header .promobar a {
    color: #fff;
}
header .link {
    min-width: 72px;
    min-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary-color);
    padding: 15px 20px;
    color: #fff;
    text-align: center;
    line-height: 1.1;
}
header .cta {
    display: flex;
    align-items: center;
    gap: 30px;
}
header .ctc a {
    color: var(--font-color);
    text-decoration: none;
}
header .logo {
    max-width: 200px;
}
header .logo img {
    width: 100%;
    display: block;
    height: auto;
}
header .flexer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
@media screen and (max-width: 550px) {
    header .cta {
        gap: 15px;
    }
    header .link {
        padding: 15px 10px;
        font-size: 14px;
    }
    header .ctc {
        font-size: 14px;
    }
    header .logo {
        max-width: 125px;
    }
}
@media screen and (max-width: 450px) {
    header .cta div:first-of-type {
        display: none;
    }
}