.propCats {
  padding: 60px 0px;
}

.container {
  max-width: 1147px;
  margin: 0px auto;

  @media screen and (max-width: 1050px) {
    margin: 0px 20px;
  }
}

.sup {
  text-align: center;
  font-size: 17px;
  line-height: 26px;
  color: var(--secondary-color);
  font-family: var(--heading-font);
  text-transform: uppercase;
  margin: 0px 0px 20px;

  @media screen and (max-width: 767px) {
    font-size: 16px;
    line-height: 1.4;
  }
}

.headline {
  text-align: center;
  font-size: 56px;
  line-height: 1.4;
  color:var(--black-text-color);
  font-family: var(--heading-font);
  margin: 0px 0px 20px;
  font-weight: 600;

  @media screen and (max-width: 1024px) {
    font-size: 48px;
  }
  @media screen and (max-width: 768px) {
    font-size: 36px;
  }
}

.abstract {
  text-align: center;
  color:var(--black-text-color);
  max-width: 800px;
  margin: 0px auto;
}

.propCatsTop {
  margin: 0px 0px 40px;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 40px;

  .flexItem {
    width: calc(25% - 15px);
    text-align: center;
  }

  @media screen and (max-width: 900px) {

    align-items: center;

    .flexItem {
      width: calc(50% - 10px);
    }
  }

  @media screen and (max-width: 540px) {

    flex-direction: column;

    .flexItem {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}

.image {
  border-radius: 15px;
  max-width: 100%;
  margin: 0px auto;
}

.ctalink {
  background-color: var(--secondary-color);
  color: var(--white-text-color);
  text-decoration: none;
  margin: 15px auto 0px;
  display: inline-block;
  padding: 10px 35px;
  min-width: 120px;
}

.b2b {
  &.propCats {
    background-color: var(--tertiary-color);
  }
}